 <div class="col-lg-4">
	<form class="form-signin" role="form">
		<h2 class="form-signin-heading">Contact us</h2>
			<input type="Name" class="form-control" placeholder="Enter your name" required autofocus>
			<input type="email" class="form-control" placeholder="Email address" required autofocus>
			<input type="Subject" class="form-control" placeholder="Subject" required autofocus>
			<input type="Message" class="form-control" placeholder="Enter your Message" required>

			<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
	</form>
</div>
<div class="clearfix"></div>